<%= simple_form_for(@assessment) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="col-md-4">
        <%= f.input :assessment_category, collection: assessment_category, required: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :assessment_level, collection: assessment_level, required: false %>
      </div>
      <div class="col-md-4">
        <%= f.input :assessment_name, collection: assessment_name, required: false %>
      </div>
      <div class="col-md-4">
        <%= f.input :assessment_type, collection: assessment_type, required: false %>
      </div>
      <%= f.input :score %>
      <%= f.input :date, input_html: {class: 'datepicker'}, placeholder: "YYYY-MM-DD", as: :string, required:
          false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>

<% end %>

<script>$('.datepicker').datepicker({'dateFormat': 'yy-mm-dd'});</script>
