<div class="row">
  <div class="col-sm-12 col-md-6 col-md-offset-3">


    <div class="row">
      <div class="col-xs-6">
        <%= link_to tutors_path do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span class="h4">Back</span>
        <% end %>
      </div>
      <div class="col-xs-6 text-right">
        <span class="h4">
          <% if @tutor.affiliate %>
            <strong><%= @tutor.affiliate %></strong>
          <% else %>
              <strong>No Affiliate</strong>
          <% end %>
      </span>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-3">
        <strong>Name:</strong><br>
        <%= @tutor.first_name %> <%= @tutor.last_name %>
      </div>

      <div class="col-md-2">
        <strong>Gender:</strong><br>
        <%= @tutor.gender %>M
      </div>


    </div>
    <hr>
    <!-- ================================================================= -->
    <div class="row">
        <h4 class="col-md-12"><strong>Students</strong></h4>
    </div>

    <div class="row">
      <div class="col-md-6">
        <strong class="col-sm-1">Email:</strong><br>
        <table>
          <tr>
            <td class="col-sm-1">preferred:</td>
            <td ><%= @tutor.email_preferred %></td>
          </tr>
          <tr>
            <td class="col-sm-1">other:</td>
            <td><%= @tutor.email_other %>N/A</td>
          </tr>
        </table>
      </div>

      <div class="col-md-6">
        <strong class="col-sm-1">Phone:</strong><br>
        <table>
          <tr>
            <td class="col-sm-1">home:</td>
            <td><%= @tutor.home_phone %></td>
          </tr>
          <tr>
            <td class="col-sm-1">cell:</td>
            <td><%= @tutor.cell_phone %></td>
          </tr>
          <tr>
            <td class="col-sm-1">other:</td>
            <td><%= @tutor.other_phone %></td>
          </tr>
        </table>
      </div>

    </div>
    <br>

    <div class="row">
      <div class="col-md-6">
        <strong>Address:</strong><br>
        <%= @tutor.address1 %>, <%= @tutor.address2 %><br>
        <%= @tutor.city %>,  <%= @tutor.state %>   <%= @tutor.zip %><br>
      </div>
    </div>

    <p>
      <strong>Coordinator:</strong>
      <% if !@coordinator.nil? %>
        <%= @coordinator.name %>
      <% else %>
        No Coordinator
      <% end %>
    </p>

    <hr>
    <div class="row">
      <h4 class="col-md-12"><strong>Students</strong></h4>
    </div>

    <div class="row">
      <div class="table-responsive col-md-12">
        <table class="table table-striped">
           <thead>
             <tr>
              <th>Name</th>
              <th>Email</th>
             <tr>
           </thead>
           <tbody>
             <% if !@students.empty? %>
                 <% @students.each do |s| %>
                   <tr>
                     <td> <%= s.name %> </td>
                     <td> <%= s.email %> </td>
                   </tr>
                 <% end %>
             <% else %>
               No Students
             <% end %>
          </tbody>
        </table>
      </div>
    </div>


    <div class="row col-md-12">
      <strong>Add Student:</strong>
      <% if !student_options.empty? %>
        <%= form_tag('add_student', method: 'put') do %>
          <%= select_tag(:student_id, options_for_select(student_options)) %>
          <%= submit_tag('Add Student') %>
          <%= hidden_field_tag(:tutor_id, @tutor.id) %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
      <% else %>
        No unmatched students
      <% end %>
    </div>

    <hr>
    <%= link_to 'Edit', edit_tutor_path(@tutor) %> |
    <%= link_to 'Back', tutors_path %>


  </div>
</div>
